.container {
    margin: 0;
    padding: 0;
    background-color: #f5ece0;
    height: 100vh;
    padding-top: 1%;
    font-family: 'Roboto', sans-serif;
}

.card {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fff6ea;  
    /* #a8540573 ? */
    
    color: #6A1B9A;
}
  
label {
    display: block;
    width: 6em;
    margin: .5em 0;
    color: #6A1B9A;
}

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}

button {
    background-color: #c3aad3;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c3aad3c9;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}