<div class="headerContainer">

    <div class="headerDiv one">
        <img src="../../assets/icons/information.png" style='height:40px;' alt="about us"><br>
        <!-- <a href="">About-us</a> -->
    </div>

    <div class="headerDiv two">
        <img src="../../assets/icons/app-store.png" style='height:40px;' alt="app"> <br>
        <!-- <a href="">App</a> -->
    </div>

    <div class="headerDiv three">
        <img src="../../assets/icons/user.png" style='height:40px;' alt="login"><br>
        <!-- <a href="">Login</a>  -->
    </div>

    <div class="headerDiv four">
        <img src="../../assets/icons/shiba.png" style='height:80px;' alt="logo app"><br>
    </div>

</div>


<!--
    logo shiba:
    <div>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>  

-->