.container {
    margin: 0;
    margin-right: 0;
    padding: 0;
    background-color: #f5ece0;
    height: 100vh;
    padding-top: 1%;
    font-family: 'Roboto', sans-serif;
}

.chat-messages-show-container{
    background: #fff6ea;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
 }
 .chat-messages-show-list {
    list-style-type:none;
    margin: 0;
    padding: 0;
 }
 .chat-messages-create-container{
    background: #a8540573;
    height: 100px;
    display: flex;
    justify-content: center;
 }
 .chat-messages-create-input {
    padding: 12px;
    margin: 29px 30px;
    flex:2
 }
 .chat-messages-create-button {
    height: 50px;
    margin: auto 40px;
    width: 100px;
 }