
<div *ngIf="this.route == ''">
    <app-header></app-header>
</div>

<div *ngIf="this.route == '/Login'">
    <app-headerlogin></app-headerlogin>
</div>

<div *ngIf="this.route == '/Matches'">
    <app-headermatches></app-headermatches>
</div>

<div *ngIf="this.route == '/Profile'">
    <app-headerprofile></app-headerprofile>
</div>

<div *ngIf="this.route == '/Settings'">
    <app-headersettings></app-headersettings>
</div>

<div *ngIf="this.route == '/Logout'">
    <app-headerlogin></app-headerlogin>
</div>

<router-outlet></router-outlet>
