<div class="headerContainer">

    <div class="buttonDiv">
        <button mat-flat-button color="primary" routerLink='/Matches'>
            <mat-icon>people</mat-icon> Matches
        </button>
    </div>   
        
    <div class="buttonDiv">
        <button mat-flat-button color="primary" routerLink='/Settings'>
            <mat-icon>settings</mat-icon> Settings
        </button>
    </div>   

    
    <div class="buttonDiv">
        <button mat-flat-button color="primary" routerLink='/'>
            <mat-icon [ngStyle]="{'color':'red'}">person_outline</mat-icon> Sign-out
        </button> 
    </div>
        
</div>
