
<div class="container">
   <div class="login">
        <H1>SIGN-IN</H1> 
        <hr class="horizontal-hr">
        <div class="formcontainer">
            <div class="formfields">
                <form [formGroup]="signInForm" >

                    <mat-form-field appearance="fill" required>
                        <mat-label>Fill in email</mat-label>
                        <input matInput formControlName="email" required><mat-icon matSuffix>email</mat-icon> 
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="fill" required>
                        <mat-label>Fill in password</mat-label>
                        <input matInput type='password' formControlName="password" required> <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>

                    <br>

                    <button type="button" mat-raised-button color="primary" (click)='emailVerification()' >
                        sign-in <mat-icon [ngStyle]="{'color':'lightgreen'}">person_outline</mat-icon> 
                    </button> <br> <br>
                    <p class="alert"> {{  this.loginAlertMessage  }}</p>
                </form> 

            </div>
        </div>
    </div>

    <hr class="vertical">

    <div class="signup">
        <H1>SIGN-UP</H1> 
        <hr class="horizontal-hr">
        
        <div class="formcontainer">
            <div class="formfields">

                <form #myForm="ngForm" [formGroup]="signUpForm" >

                    <mat-form-field appearance="fill" required>
                        <mat-label>Fill in email</mat-label>
                        <input matInput formControlName="email_signUp" required >  <mat-icon matSuffix>email</mat-icon> 
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" required>
                        <mat-label>Fill in password</mat-label>
                        <input   matInput type='password' formControlName="password_signUp" required > <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>

                    <br>
                    
                    <button mat-raised-button color="primary" (click)='newAccount();myForm.reset()' >sign-up <mat-icon >check</mat-icon> </button>
                    <br><br>
                    <p class="confirm"> {{ this.confirmMessage }} </p>
                    <p class="alert"> {{  this.alertMessage  }}</p>
                </form> 

            </div>
        </div>
</div>

