
<div class="container">
   <div class="login">
        <H1>SIGN-IN</H1> 
        <hr class="horizontal-hr">
        <div class="formcontainer">
            <div class="formfields">
                <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" >

                    <mat-form-field appearance="fill" required>
                        <mat-label>Fill in email</mat-label>
                        <input matInput formControlName="email" required><mat-icon matSuffix>email</mat-icon> 
                    </mat-form-field>

                    <mat-form-field appearance="fill" required>
                        <mat-label>Fill in password</mat-label>
                        <input matInput type='password' formControlName="password" required> <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                    
                <button type="button" mat-raised-button color="primary" routerLink='/Matches'>sign-in 
                    <mat-icon [ngStyle]="{'color':'lightgreen'}">person_outline</mat-icon> </button>
        
                </form> 

            </div>
        </div>
    </div>

    <hr class="vertical">

    <div class="signup">
        <H1>SIGN-UP</H1> 
        <hr class="horizontal-hr">
        
        <div class="formcontainer">
            <div class="formfields">

                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

                    <mat-form-field appearance="fill" required>
                        <mat-label>Fill in email</mat-label>
                        <input matInput  formControlName="email_signUp" required value="789">  <mat-icon matSuffix>email</mat-icon> 
                    </mat-form-field>

                    <mat-form-field appearance="fill" required>
                        <mat-label>Fill in password</mat-label>
                        <input matInput type='password' formControlName="password_signUp" required value="789"> <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
    
                    <button mat-raised-button color="primary" (click)='newAccount()' >sign-up <mat-icon >check</mat-icon> </button>

                </form> 

            </div>
        </div>
</div>

