<div class="containerSettings">
    <div class="settingsOptions">
        
        <div class="one settings">
            settings 1:
            <mat-slider [min]='0' [max]='1' [value]='0'></mat-slider>
        </div>      

        <div class="two settings">
            settings 2:
            <mat-slider [min]='0' [max]='1' [value]='0'></mat-slider>
        </div>

        <div class="three settings">
            settings 3:
            <mat-slider [min]='0' [max]='1' [value]='0'></mat-slider>
        </div>

        <div class="four settings">
            settings 4:
            <mat-slider [min]='0' [max]='1' [value]='0'></mat-slider>
        </div>

        <div class="five settings">
            settings 5:
            <mat-slider [min]='0' [max]='1' [value]='0'></mat-slider>
        </div>

        <div class="six settings">
            settings 6:
            <mat-slider [min]='0' [max]='1' [value]='0'></mat-slider>
        </div>

        <div class="seven settings">
            settings 7:
            <mat-slider [min]='0' [max]='1' [value]='0'></mat-slider>
        </div>
    </div>
</div>

