<div class="headerContainer">

  <div class="buttonDiv">
        <button mat-flat-button color="primary" routerLink='/Profile'>
            <mat-icon>person</mat-icon> Profile
        </button>
    </div>   
        
    <div class="buttonDiv">
        <button mat-flat-button color="primary" routerLink='/Settings'>
            <mat-icon>settings</mat-icon> Settings
        </button>
    </div>   
   
    <div class="buttonDiv">
        <button mat-flat-button color="primary" routerLink='/Logout'>
            <mat-icon>information</mat-icon> About
        </button> 
    </div>

</div>