.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #f5ece0;
    height: 100vh;
    padding-top: 1%;
    font-family: 'Roboto', sans-serif;

}

.matchingSystem {
   display: flex;
   flex-direction: column;

   justify-content: flex-end;
   align-items: center  ;

    width: 50%;
    height: 80%; 
   
    background-color: #fff6ea;  
    color:#6A1B9A;
    
    
}


mat-card-title {
    color:#6A1B9A;
}

mat-card-subtitle {
    color:#7f38aa;
}

mat-card-header {
    display: block;

    
}

mat-card-content {
    margin-bottom: 25%;
    display: flex;
    justify-content: center;
    min-width: 40%;
    min-height: 30%;
}
button {
    background-color: rgb(201, 201, 201);
}

button:hover {
    background-color: rgba(201, 201, 201, 0.438);
}

img {
    max-width: 80%;
    height: auto;
    
}

@media only screen and (max-width: 800px) {

    img {
        max-width: 100%;
    }

  }
