<div class="container"> 

    <div class="leftBanner"></div>

    <div class="userInfo">
        <p class="name">{{ user_firstname }} {{ user_lastname }} {{ distance | number: '1.0-1' }} {{distanceMessage}} </p> 
    </div>
       
    <div class="userImage">
        <div class="userContainer">
            <img class="userProfileImage" [src]="imageSource" *ngIf="imageSource"/>
        </div>
    </div>
 
    <div class="userDescription">
        <p class="description" > {{ user_description }}</p>
        <p class="startMessage"> {{ startMessage }} </p>
        <p class="connectionMessage"> {{ connectionMessage }}</p>
    </div>
            
    
    <div class="userButtons">
            
        <button mat-button (click)="previous()" >Previous</button>
        <button mat-button (click)="connect()">Connect</button> 
        <button mat-button (click)="next()">Next</button>
      

    </div>
    
    <div class="rightBanner"></div>

</div>
