<div class="headerContainer">

    <!-- <div class="headerDiv">
        <button mat-fab color="primary" routerLink='/Matches' aria-label="Example icon button with a delete icon">
            <mat-icon>supervised_user_circle</mat-icon> 
        </button>
    </div> -->
<!-- 
    <div class="headerDiv">
        <button mat-fab color="primary"  routerLink='/Profile' aria-label="Example icon button with a delete icon">
            <mat-icon >home</mat-icon> 
        </button>
    </div> -->

        
    <div class="buttonDiv">
        <button mat-flat-button color="primary" routerLink='/Settings'>
            <mat-icon>information</mat-icon> About
        </button>
    </div>   
    
<!-- 
    <div class="headerDiv">
        <button mat-fab color="primary" routerLink='/Logout' aria-label="Example icon button with a delete icon">
            <mat-icon [ngStyle]="{'color':'lightgreen'}" >account_box</mat-icon>
        </button>
    </div>  -->

</div>


<!--
    logo shiba:
    <div>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>  

-->