<div class="headerContainer">

    <div class="headerDiv">
        <button mat-fab color="primary" routerLink='/About-us' aria-label="Example icon button with a delete icon">
            <mat-icon>info_box</mat-icon> 
        </button>
    </div>

    <div class="headerDiv">
        <button mat-fab color="primary" routerLink='' aria-label="Example icon button with a delete icon">
            <mat-icon >home</mat-icon> 
        </button>
    </div>

    <div class="headerDiv">
        <button mat-fab color="primary" routerLink='/Geolocation' aria-label="Example icon button with a delete icon">
            <mat-icon>arrow_downward_box</mat-icon>
        </button>
    </div>

    <div class="headerDiv">
        <button mat-fab color="primary" routerLink='/Login' aria-label="Example icon button with a delete icon">
            <mat-icon >account_box</mat-icon>
        </button>
    </div> 

</div>


<!--
    logo shiba:
    <div>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>  

-->