.headerContainer{
    height: 8vh;
    background-color: #f5ece0;

    display: flex;
    
    align-items: center;
    justify-content: flex-end;
    
}
/* 
 hr{
    background-color: #6A1B9A;
    height: 1px;
    margin: 0px;
    padding: 0px;
}  */

button {
    line-height: 90%;
    margin: 13px;
    height: 6vh !important;
    width: 11vw  !important;
    text-align:center;
    padding: 0px;

}



.cardheader {
    text-align: center;
}
