.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 15% 15% 15% 15% 10% 15%;
    gap: 0px 0px;
    grid-template-areas:
      "leftBanner userInfo  userInfo userInfo rightBanner"
      "leftBanner userImage userImage userImage rightBanner"
      "leftBanner userImage userImage userImage rightBanner"
      "leftBanner userImage userImage userImage rightBanner"
      "leftBanner userDescription userDescription userDescription rightBanner"
      "leftBanner userButtons userButtons userButtons rightBanner";

    margin: 0;
    padding: 0;

    background-color: #f5ece0;
    height: 100vh;
    padding-top: 1%;
    
}
.leftBanner{
    grid-area: leftBanner;
}

.rightBanner{
    grid-area: rightBanner;
}
.userImage {
     grid-area: userImage;
    
    }

.userInfo { 
    grid-area: userInfo; 
    
    display: flex;
   
    align-items:center;
    
}

.userDescription { 
    grid-area: userDescription; 
    
}

.userButtons { 
    grid-area: userButtons; 
  
}

.userProfileImage {
    object-fit: contain;
    max-height: 400px;
}

.description{
    color:black;
    max-width: 80%; 
    text-align: left;
}
img{
     width: 100%;
  
}

.userContainer {
    max-width: 500px;;
}

.connectionMessage{
    color:rgb(25, 201, 25);
}