<div class="homeContainer">
    <div>
        <img src="../../assets/images/charlie.png" alt="dog"> 
    </div>
    <br>
    <div class="arrowDiv"> 
         <mat-icon class="arrow_down">arrow_drop_down</mat-icon>
    </div>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-header class="cardheader">
            <mat-card-title>Want to make sure a dog has the time of his life? Well, look no further! This is the platform you need.</mat-card-title>
            <mat-card-subtitle>If you have a dog or not, you can sign up and make this happen.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>The meaning of this platform is to make sure a dog can walk as much as he need. If you have a dog on due to certain reasons you can not walk your dog every time, you can meet someone here who can help you. If you don't have a dog but loves them, you can find the perfect match here to walk a dog.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>How to?</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <img src="../../assets/images/happydog.jpg" alt="walk" class="griditem">
            <div class="flexitem">
                <dl>
                    <dt>Step 1: Sign up (it's free!)</dt>
                    <dt>Step 2: Complete your profile</dt>
                    <dt>Step 3: Search for the perfect match</dt>
                    <dt>Step 4: Talk and plan the walk</dt>
                    <dt>Step 5: Make the dog happy!</dt>
                </dl>     
                
                <mat-card-actions>
                    <button mat-button routerLink='/Login'>Sign up</button>
                </mat-card-actions>
            </div>
        </mat-card-content>        
    </mat-card>
    

</div>
